.user-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    /* Un poco más de padding para "aire" */
    border-radius: 12px;
    /* Bordes más suaves */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    /* Sombra más sutil y elegante */
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Fuente más moderna */
    max-width: 220px;
    /* Ajusta el ancho para una apariencia más compacta */
    margin: 20px;
    transition: transform 0.2s ease-in-out;
    /* Animación al pasar el ratón */
}

.user-profile-card:hover {
    transform: translateY(-5px);
    /* Pequeño efecto de elevación al pasar el ratón */
}

.user-profile-image-container {
    width: 100px;
    /* Tamaño de imagen ligeramente más pequeño */
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 18px;
    /* Espacio entre imagen y nombre */
    border: 2px solid #e0e0e0;
    /* Un borde más fino y neutro */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Animación para el borde al pasar el ratón */
    transition: border-color 0.3s ease-in-out;
}

.user-profile-card:hover .user-profile-image-container {
    border-color: #007bff;
    /* Color primario al pasar el ratón */
}


.user-profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-profile-name {
    margin: 0;
    font-size: 1.1em;
    /* Tamaño de fuente más discreto para el nombre */
    color: #444;
    /* Color de texto más suave */
    text-align: center;
    font-weight: 500;
    /* Peso de fuente intermedio */
    line-height: 1.4;
    /* Espaciado de línea para legibilidad */
}