/* Contenedor de las secciones de detalle */
.sectionsContainer {
    font-size: 1.0rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espacio entre secciones */
}

.SectionContainerRow {
    font-size: 1.0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    /* Espacio entre secciones */
}

