/* Variables CSS para fácil personalización */
:root {
    --header-bg-color: #f8f8f8;
    /* Un gris muy claro */
    --title-color: #333;
    /* Gris oscuro para el título */
    --description-color: #666;
    /* Gris medio para la descripción */
    --border-color: #eee;
    /* Gris claro para bordes sutiles */
    --padding-vertical: 40px;
    /* Padding vertical reducido */
    --padding-horizontal: 20px;
    /* Fuentes de Google Fonts - Asegúrate de importarlas en tu index.html o App.js */
}

.sectionHeader {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid var(--border-color);
    /* Separador sutil */
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);*/
    /* Sombra ligeramente reducida */
    margin-bottom: 5px;
    /* Margen inferior reducido */
}

.sectionHeader__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    /* Título ligeramente más pequeño */
    color: var(--title-color);
   
    /* Espaciado reducido alrededor del título */
 

}

.sectionHeader__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    /* Descripción ligeramente más pequeña */
    color: var(--description-color);
    max-width: 700px;
    /* Ancho máximo ligeramente reducido */
    margin: 5px auto 0 auto;
    /* Margen superior reducido, auto para centrar */
    line-height: 1.5;
    font-style: italic;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sectionHeader__title {
        font-size: 2em;
    }

    .sectionHeader__description {
        font-size: 0.9em;
        padding: 0 15px;
    }

    .sectionHeader {
        padding: calc(var(--padding-vertical) / 1.5) var(--padding-horizontal);
        margin-bottom: 25px;
    }
}

@media (max-width: 480px) {
    .sectionHeader__title {
        font-size: 1.8em;
    }

    .sectionHeader {
        padding: calc(var(--padding-vertical) / 2) var(--padding-horizontal);
        margin-bottom: 20px;
    }
}